.container {
  margin-bottom: 23%;
}

.main-banner-feature {
  margin-bottom: 20px;
}

.main-content {
  right: 2%;
  text-decoration: none;
  color: black;
  font-size: 12px;
  width: 112px;
  height: 27px;
  background-color: #FFDB89;
  border-bottom-left-radius: 13px;
}

.main-content span {
  color: #716C6C;
}

.content {
  color: #2B3467;
}

.main-banner-feature img {
  transition: .5s ease-out;
}

.main-banner-feature img:hover {
  transform: scale(1.1);
}