.container {
  margin-bottom: 23%;
}

.main-banner-feature {
  margin-bottom: 20px;
}

.main-content {
  right: 2%;
  text-decoration: none;
  color: black;
  font-size: 12px;
  width: 112px;
  height: 27px;
  background-color: #FFDB89;
  border-bottom-left-radius: 13px;
}

.main-content span {
  color: #716C6C;
}

.content {
  color: #2B3467;
}

.card {
  height: 210px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  border: hidden;
}

.tag-place {
  color: white;
  cursor: pointer;
}

.tag-country {
  color: white;
  cursor: pointer;
}

.image {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.card:hover .image {
  transform: scale(1.15);
  opacity: 1;
}