.stars {
  position: relative;
  min-width: 200px;
  display: inline-flex;
  .star {
    position: absolute;
    z-index: 2;
    display: inline-flex;
    mask: url(../../Assets/icons/Star.svg) no-repeat center left;
    &:not(.palceholder) {
      background-color: yellow;
      z-index: 2;
    }
    &.placeholder {
      background-color: gray;
      z-index: 1;
    }
  }
}

@import '../../../assets/scss/colorVariable'